@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #efefef;
}
.totalRaised{
  background-color: #93939326;
    padding: 17px 26px;
    border-radius: 12px;
    margin: 12px;
    display: inline-block;
    color: teal;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .totalRaised{
    font-size: 65px;
  }
}

@media only screen and (max-width: 600px) {
  .totalRaised{
    font-size: 40px;
  }
}




.aButton{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  padding: 8px;
  margin-top: 4px;
}
.campaign{
  width: 400px;
  margin: 24px; 
  border-radius: 12px; 
  overflow: hidden;
  background-color: #fff;
  box-shadow: 2px 2px 9px #00000024;
  position: relative;
}

.campaign .campaignDetailContainer{
  padding: 24px;
  position: relative;
}

.campaignName{
  font-weight: bold;
  padding: 12px 0 6px 0;
}
.campaignLink{
  padding: 6px 0;
}
.campaignLink a{
 font-size: 12px;
 word-break: break-all;
}
.campaignImage{
   max-width: 100%;
   height: 265px;
    background-color: #f7f7f7
}
.faIcon{
   margin: 2px 6px 0 0;
    color: teal
}

.progressBar {
  background-color: #efefef;
  border-radius:0 0 12px 12px;
  /* (height of inner div) / 2 + padding */
  padding: 4px;
  position: absolute;
  right: 0;
  left: 0;
  bottom:0;

}

.progressBar > div {
  background-color: teal;
  /* Adjust with JavaScript */
  height: 12px;
  border-radius: 10px;  
  text-align: center;
}

.progressBarPercent{
  color:#fff ;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
}