@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


@media only screen and (min-width: 600px) {
  .totalRaised{
    font-size: 65px;
    color: teal;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .totalRaised{
    font-size: 40px;
    color: teal;
    font-weight: bold;
  }
}


*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aButton{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  padding: 8px;
  margin-top: 4px;
}
.campaign{
  width: 400px;
  margin: 24px; 
  border-radius: 12px; 
  overflow: hidden;
  box-shadow: 2px 2px 9px #00000024;
}
.campaignName{
  font-weight: bold;
  padding: 12px 0 6px 0;
}
.campaignLink{
  padding: 6px 0;
}
.campaignLink a{
 font-size: 12px;
}